.page{
    height:100%;
    width:100%;
    position: absolute;
    overflow:hidden; /* or overflow:auto; if you want scrollbars */
    background-color: rgb(22, 22, 22);
    /*background-image: linear-gradient(rgb(36, 36, 36), rgb(0, 0, 0));*/
}

.login-box-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    text-align: center;
    width: 40rem;
    padding: 1rem;
    
    background-color: rgb(27, 27, 27);
	border: 2px rgb(152, 133, 170) solid;
	border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title{
    margin-bottom: 1rem;
}

.login-subtitle{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input{
    margin-top: 1px;
    padding-left: 1rem;
    width: 90%;
    height: 2rem;

    background-color: rgb(22, 22, 22);
    border: rgb(152, 133, 170) 1px solid;

    font-size: medium;
    color: rgb(150, 150, 150);
}

.login-button{
    margin-top: 4px;
    background-color: rgb(36, 27, 49);
    border: rgb(152, 133, 170) 1px solid;
    width: 93%;
    height: 2rem;
    font-size: large;
    color: rgb(128, 128, 128);
}

.login-button:hover{
    cursor: pointer;
}

.sign-up-text{
    margin-top: 1rem;
}

.invalid-text{
    margin-top: 5px;
    margin-bottom: 8px;

    color: rgb(146, 25, 25);
}

.login-failed-text{
    margin-top: 5px;
    margin-bottom: 8px;

    font-size: large;
    color: rgb(146, 25, 25);
}