
<div (keyup)="onKeyUp($event)" class="signup-box-container">
    <h1 class="title"><span class="link">Adept</span> Account Signup</h1>
    <h2 class="subtitle">Create your account.</h2>

    <div class="input-container">
        <input #emailHtml (input)="setEmail(emailHtml.value)" type="text" placeholder="Email">
        <div *ngIf="!emailIsValid" class="validation-icon" matTooltip="Email is already in use by another account">_X</div>
    </div>

    <div class="input-container">
        <input #usern (input)="setUsername(usern.value)" type="text" placeholder="Username">
        <div *ngIf="!usernameIsValid" class="validation-icon" matTooltip="Username is already in use by another account">_X</div>
    </div>

    <div class="input-container">
        <input #firstN (input)="setFirstName(firstN.value)" type="text" placeholder="First Name">
    </div>

    <div class="input-container">
        <input #lastN (input)="setLastName(lastN.value)" type="text" placeholder="Last Name">
    </div>

    <div class="input-container">
        <input #favColor (input)="setFavoriteColor(favColor.value)" type="text" placeholder="Favorite Color">
    </div>

    <div class="input-container">
        <input #pass (input)="setPassword(pass.value)" type="password" placeholder="Password">
        <div *ngIf="!passwordIsValid" class="validation-icon" matTooltip="Invalid password">_X</div>
    </div>

    <div class="input-container">
        <input #vPass (input)="setVerifyPassword(vPass.value)" type="password" placeholder="Confirm Password">
        <div *ngIf="!verifyPasswordIsValid" class="validation-icon" matTooltip="Passwords don't match">_X</div>
    </div>

    <div class="input-container">
        <button (click)="signup()" (click)="checkUsernameAvailability()" class="signup-button">Signup</button>
    </div>

    <div class="return-text">Already have an account? <span routerLink="/login" class="link">Return to login</span></div>
</div>
