.signup-box-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    text-align: center;
    width: 30rem;
    padding: 1rem;

    background-color: rgb(27, 27, 27);
    border: 2px rgb(152, 133, 170) solid;
	border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin-bottom: 1rem;
}

.subtitle{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.input-container{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

input{
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    width: 90%;
    height: 2rem;

    background-color: rgb(22, 22, 22);
    border: rgb(152, 133, 170) 1px solid;

    font-size: medium;
    color: rgb(150, 150, 150);
}

.validation-icon{
    cursor: default;
    font-family: sans-serif;
    font: bold;
    font-size: 1.5rem;
    color: rgb(146, 25, 25);
}

.invalid-text{
    margin-top: 5px;
    color: rgb(146, 25, 25);
}

.signup-button{
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(36, 27, 49);
    border: rgb(152, 133, 170) 1px solid;
    width: 94%;
    height: 2rem;
    font-size: large;
    color: rgb(128, 128, 128);
}

.signup-button:hover{
    cursor: pointer;
}

.return-text{
    margin-top: 1rem;
}

.connection-error-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .4rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(22, 22, 22);
    outline: 1px rgb(0, 0, 0) solid;
}

.no-connection-text{
    font-size: large;
    color: rgb(221, 0, 0);
}

.no-connection-button{
    cursor: pointer;
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    size: fit-content;
    background-color: rgb(36, 27, 49);
    border: rgb(152, 133, 170) 1px solid;

    color: rgb(128, 128, 128);
    font-size: x-large;
}